Code Summarizer.json
{
  "name": "Code Summarizer",
  "nodes": [
    {
      "parameters": {
        "content": "### Steps \n1. Ready the email containing code -> trigger.\n2. Summarize the code using LLM.\n3. Generate comments for the code.\n4. Step 2 & 3 done in parallel.\n5. Merge outputs of step 2 & 3. \n6. Sent output to me as a mail.",
        "height": 336,
        "width": 176
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -896,
        -176
      ],
      "typeVersion": 1,
      "id": "2220e8b8-b482-4d34-99d7-61b61761070d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "maxResults": 20,
        "filters": {
          "sender": "sameerf737@gmail.com"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        -688,
        0
      ],
      "id": "1af59f5f-ee3a-41d5-bc46-4ffea9a76d27",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "0tMB9pp8maOyBnTp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -400,
        16
      ],
      "id": "45a6e06f-9e5e-4833-8701-a89fbceba6bd",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "PrjNV5yPCLsGr2TM",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -384,
        336
      ],
      "id": "89158ff1-94f7-468b-95f4-5619ab2da36c",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "PrjNV5yPCLsGr2TM",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Given code below:\nCode:\n{{ $json.text }}\nGenerate comments for the given code so that I can understand properly what each line of code is saying and what work it performs.\nNote: Do not modify any line of code keep it exactly same just add comments for understanding wherever required.",
        "messages": {
          "messageValues": [
            {
              "message": "You are a helpful assistant and you know python very well. Generate comments for the code to help me understand it properly."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -480,
        -128
      ],
      "id": "11149156-7b97-4f36-8aff-6d24e1d4676e",
      "name": "Comments _Addition"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Given Code Below:\nCode:\n{{ $json.text }}\nGenerate a summary of the complete code and explain its working in simple language. Note that summarize it in a way that it should cover all important details in a quick glance.",
        "messages": {
          "messageValues": [
            {
              "message": "You are a Python expert and you have ability to summarize the code in a way that I can understand it easily in simple language and it should be covering all important information."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -496,
        176
      ],
      "id": "ab2a0577-d0ba-438f-b119-3502d293cee3",
      "name": "Code Summary"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -192,
        0
      ],
      "id": "137596df-9c05-436b-b731-4db748305985",
      "name": "Merge"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -32,
        0
      ],
      "id": "c4999761-ab09-4845-abbc-8a2306400b13",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "sendTo": "sameerf737@gmail.com",
        "subject": "Code Comments and Summary",
        "message": "={{ $json.text }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        608,
        0
      ],
      "id": "7722ab4f-8b72-4cbf-b32a-94d212f0d2c9",
      "name": "Send a message",
      "webhookId": "843c7956-68c2-4dbe-969c-c740d27b218f",
      "credentials": {
        "gmailOAuth2": {
          "id": "0tMB9pp8maOyBnTp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "53526301-6354-4312-90ee-6fe032bdafec",
              "name": "Message",
              "value": "=Code with Comments:\n{{ $json.text[0] }}\n\nCode Summary:\n{{ $json.text[1] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        0
      ],
      "id": "659b5fc7-5706-452c-afdf-f141b27a9756",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Convert the message into html format.\nInclude proper code blocks wherever necessary. The code blocks should have syntax highlighting for the specific language used in the code.\n\nMessage:\n\n{{ $json.Message }}",
        "messages": {
          "messageValues": [
            {
              "message": "You can convert any message into html format that can be sent on mail to the user."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        336,
        0
      ],
      "id": "a7dbc363-52d5-4580-99ad-fb1869ead3a1",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        336,
        192
      ],
      "id": "907634bd-e297-4dc4-b588-753bf830b2a3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "PrjNV5yPCLsGr2TM",
          "name": "OpenAI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Comments _Addition",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Comments _Addition",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Code Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Comments _Addition": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Summary": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9a32d87c-c32a-4032-b371-f06b3f8a7e10",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "193fe0c73bc4de84a18d8a3d7cb3987abe33a10af62adfbccb7b9d6cc5132a80"
  },
  "id": "vSN3QxrKXMrGTgCL",
  "tags": []
}